In [1]:
# Importing Prequisites.

In [17]:
import pandas as pd
import os
import pyspark
from pyspark.sql import SparkSession

In [3]:
# Getting Data

In [4]:
from kaggle.api.kaggle_api_extended import KaggleApi

# Initialize Kaggle API
api = KaggleApi()
# Authenticate with your Kaggle credentials ---- Have to add .kaggle file!
api.authenticate()

# Downloading the dataset
api.dataset_download_files(dataset='kanchana1990/world-air-quality-data-2024-updated', unzip=True)

# Reading the CSV file
df = pd.read_csv('world_air_quality.csv', sep=';')

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/jakemaund/.kaggle/kaggle.json'
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/jakemaund/.kaggle/kaggle.json'

In [5]:
# Data Reading

In [6]:
display(df.head(10))

# Showing list of first 10 rows. 

# Using display instead of print to get table output, instead of a messier text output.

,Country Code,City,Location,Coordinates,Pollutant,Source Name,Unit,Value,Last Updated,Country Label
0,JP,NaN,北九州市小倉北区大門一丁目６－４８,"33.880833, 130.873056",NO,japan-soramame,ppm,0.002,2024-03-10T13:30:00+05:30,Japan
1,JP,NaN,北九州市若松区本町三丁目１３－１,"33.898056, 130.81",NO2,japan-soramame,ppm,0.005,2024-03-10T13:30:00+05:30,Japan
2,JP,NaN,北九州市門司区大里原町１２－１２,"33.895833, 130.935833",NOX,japan-soramame,ppm,0.013,2024-03-10T13:30:00+05:30,Japan
3,JP,NaN,千歳市若草４－１３,"42.786944, 141.605",NO2,japan-soramame,ppm,0.004,2024-03-10T13:30:00+05:30,Japan
4,JP,NaN,千葉市稲毛区宮野木町９９６－９,"35.653889, 140.097778",NOX,japan-soramame,ppm,0.003,2024-03-10T13:30:00+05:30,Japan
5,JP,NaN,千葉市花見川区花見川４－１,"35.693889, 140.098333",SO2,japan-soramame,ppm,0.001,2024-03-10T13:30:00+05:30,Japan
6,JP,NaN,南埼玉郡宮代町学園台4-1,"36.027222, 139.716111",PM2.5,japan-soramame,µg/m³,2.000,2024-03-10T13:30:00+05:30,Japan
7,JP,NaN,厚木市中町１－８－１１,"35.443333, 139.368056",NO2,japan-soramame,ppm,0.006,2024-03-10T13:30:00+05:30,Japan
8,JP,NaN,取手市大字寺田５１３９,"35.908333, 140.052778",NOX,japan-soramame,ppm,0.002,2024-03-10T13:30:00+05:30,Japan
9,JP,NaN,取手市大字寺田５１３９,"35.908333, 140.052778",NO,japan-soramame,ppm,0.000,2024-03-10T13:30:00+05:30,Japan

In [7]:
gb_data = df[df['Country Label'] == 'United Kingdom']
display(gb_data.head(10))

#showing a formatted list of British results, limited to first 10 rows.

,Country Code,City,Location,Coordinates,Pollutant,Source Name,Unit,Value,Last Updated,Country Label
432,GB,NaN,Islington,"51.54654025913672, -0.09074524215529413",PM2.5,airgradient,µg/m³,52.922619,2024-03-11T14:30:00+05:30,United Kingdom
433,GB,NaN,Dame Emily Park,"51.44276, -2.60125",PM2.5,airgradient,µg/m³,42.594494,2024-03-11T14:30:00+05:30,United Kingdom
434,GB,Lullington Heath,Lullington Heath,"50.7937, 0.18125",SO2,DEFRA,µg/m³,1.000000,2024-03-11T13:30:00+05:30,United Kingdom
435,GB,Cardiff,Cardiff Centre,"51.48178, -3.17625",PM10,DEFRA,µg/m³,13.000000,2024-03-11T13:30:00+05:30,United Kingdom
436,GB,Plymouth,Plymouth Centre,"50.37167, -4.142361",NO2,DEFRA,µg/m³,40.000000,2024-03-11T13:30:00+05:30,United Kingdom
437,GB,Eastbourne,Eastbourne,"50.805778, 0.271611",O3,DEFRA,µg/m³,28.000000,2024-03-11T13:30:00+05:30,United Kingdom
438,GB,York,York Fishergate,"53.951889, -1.075861",NO2,DEFRA,µg/m³,42.000000,2024-03-11T13:30:00+05:30,United Kingdom
439,GB,West Midlands,Birmingham A4540 Roadside,"52.47609, -1.875024",O3,DEFRA,µg/m³,44.000000,2024-03-11T13:30:00+05:30,United Kingdom
440,GB,London,London Harlington,"51.48879, -0.441614",O3,DEFRA,µg/m³,42.000000,2024-03-11T13:30:00+05:30,United Kingdom
441,GB,Storrington,Storrington Roadside,"50.916932, -0.449548",PM2.5,DEFRA,µg/m³,62.000000,2017-01-24T17:30:00+05:30,United Kingdom

In [8]:
# Data Cleaning

In [9]:
df.dtypes

# Checking data type. No Need to change.

Country Code      object
City              object
Location          object
Coordinates       object
Pollutant         object
Source Name       object
Unit              object
Value            float64
Last Updated      object
Country Label     object
dtype: object

In [10]:
nulls = df.isna().sum()

nulls
# Checking for Null Values.

Country Code         0
City             24046
Location             2
Coordinates         70
Pollutant            0
Source Name          0
Unit                 0
Value                0
Last Updated         0
Country Label      115
dtype: int64

In [11]:
df.loc[df['Country Label'].isnull()]

,Country Code,City,Location,Coordinates,Pollutant,Source Name,Unit,Value,Last Updated,Country Label
1115,XK,"Prishtina, KHMI","Prishtina, KHMI","42.648872, 21.137121",O3,Kosovo,µg/m³,2.6,2023-05-26T03:30:00+05:30,NaN
1116,XK,Mobile,Mobile,"42.646519, 21.133536",NO2,Kosovo,µg/m³,63.2,2023-05-25T04:30:00+05:30,NaN
3724,XK,Mitrovica,Mitrovica,"42.891794, 20.868936",NO2,Kosovo,µg/m³,4.6,2023-05-26T03:30:00+05:30,NaN
3725,XK,"Prishtina, KHMI","Prishtina, KHMI","42.648872, 21.137121",PM2.5,Kosovo,µg/m³,12.0,2023-05-26T03:30:00+05:30,NaN
3726,XK,"Prishtina, Rilindja","Prishtina, Rilindja","42.659656, 21.157309",PM10,Kosovo,µg/m³,19.6,2023-05-26T03:30:00+05:30,NaN
...,...,...,...,...,...,...,...,...,...,...
53893,XK,Pristina,US Diplomatic Post: Pristina,"42.661995, 21.15055",PM2.5,StateAir_Pristina,µg/m³,18.0,2023-05-31T05:30:00+05:30,NaN
53894,XK,"Prishtina, Rilindja","Prishtina, Rilindja","42.659656, 21.157309",PM2.5,Kosovo,µg/m³,13.1,2023-05-26T03:30:00+05:30,NaN
53895,XK,Dardhishtë,Dardhishtë,"42.659728, 21.083317",PM10,Kosovo,µg/m³,13.7,2023-05-26T03:30:00+05:30,NaN
53896,XK,Dardhishtë,Dardhishtë,"42.659728, 21.083317",SO2,Kosovo,µg/m³,0.0,2023-05-26T03:30:00+05:30,NaN
53897,XK,Peja,Peja,"42.665712, 20.305065",NO2,Kosovo,µg/m³,15.5,2023-05-26T02:30:00+05:30,NaN

In [12]:
# Define a dictionary mapping country codes to country labels
country_mapping = {
    'XK': 'Kosovo',
    'KV': 'Kosovo',
    'UC': 'Curacao',
    'CW': 'Curacao',
    'AQ': 'American Samoa',
    'AJ': 'Azerbaian',
    'BK': 'Bosnia and Herzegovina',
    'CE': 'Sri Lanka',
    'IZ': 'Iraq',
    'KU': 'Kuwait',
    'MK': 'North Macedonia',
    'TI': 'Tajikistan',
    'TX': 'Turkmenistan',
    'VM': 'Vietnam'
}

# Replace country codes with country labels using the dictionary
df['Country Label'] = df['Country Code'].replace(country_mapping)


# This is necessary because some countries are missing values in the 'country label' column, through some research, we can figure this out.

In [13]:
# List of columns to check for missing values... there are some missing ("NaN") values in these columns.
columns_to_fill = ['City', 'Location', 'Coordinates']

# Fills missing values in specified columns with 'Missing Data'
for column in columns_to_fill:
    df[column] = df[column].fillna('Missing data')

# Counts missing values for each column
nulls = {column: df[column].isna().sum() for column in df.columns}
nulls

{'Country Code': 0,
 'City': 0,
 'Location': 0,
 'Coordinates': 0,
 'Pollutant': 0,
 'Source Name': 0,
 'Unit': 0,
 'Value': 0,
 'Last Updated': 0,
 'Country Label': 0}

In [14]:
print("Before dropping duplicates:", df.shape) # count before the dropping of duplicate rows
df.drop_duplicates(inplace=True) # Drops any duplicate rows
print("After dropping duplicates:", df.shape) # count after the dropping of duplicate rows

Before dropping duplicates: (54255, 10)
After dropping duplicates: (54255, 10)

In [15]:
# Dropping rows with 'Value' less than 0
df = df.drop(df[df['Value'] < 0].index)

# Dropping rows with certain 'Unit' values
units_to_drop = ['c', 'particles/cm³', '%']
df = df.drop(df[df['Unit'].isin(units_to_drop)].index)

In [16]:
# Batch processing (Apache-Spark)

In [17]:

# Set PYSPARK_PYTHON and PYSPARK_DRIVER_PYTHON environment variables
os.environ['PYSPARK_PYTHON'] = '/Library/Frameworks/Python.framework/Versions/3.10/bin/python3'
os.environ['PYSPARK_DRIVER_PYTHON'] = '/Library/Frameworks/Python.framework/Versions/3.10/bin/python3'

# Make sure you do above or you will likely get an error when deploying the next spark.df code... if first time using spark on your machine. 

# Now you can create your SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/31 21:56:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [18]:
spark_df = spark.createDataFrame(df)
spark_df.show(10)

+------------+-------+----------------------------------+--------------------+---------+--------------+-----+-----+--------------------+-------------+
|Country Code|   City|                          Location|         Coordinates|Pollutant|   Source Name| Unit|Value|        Last Updated|Country Label|
+------------+-------+----------------------------------+--------------------+---------+--------------+-----+-----+--------------------+-------------+
|          JP|Unknown|北九州市小倉北区大門一丁目６－４８|33.880833, 130.87...|       NO|japan-soramame|  ppm|0.002|2024-03-10T13:30:...|        Japan|
|          JP|Unknown|  北九州市若松区本町三丁目１３－１|   33.898056, 130.81|      NO2|japan-soramame|  ppm|0.005|2024-03-10T13:30:...|        Japan|
|          JP|Unknown|  北九州市門司区大里原町１２－１２|33.895833, 130.93...|      NOX|japan-soramame|  ppm|0.013|2024-03-10T13:30:...|        Japan|
|          JP|Unknown|                千歳市若草４－１３|  42.786944, 141.605|      NO2|japan-soramame|  ppm|0.004|2024-03-10T13:30:...|        Japan|
|          JP|Unknown|    千葉市稲毛区宮野木町９９６－９|35.653889, 140.09...|      NOX|japan-soramame|  ppm|0.003|2024-03-10T13:30:...|        Japan|
|          JP|Unknown|        千葉市花見川区花見川４－１|35.693889, 140.09...|      SO2|japan-soramame|  ppm|0.001|2024-03-10T13:30:...|        Japan|
|          JP|Unknown|           南埼玉郡宮代町学園台4-1|36.027222, 139.71...|    PM2.5|japan-soramame|µg/m³|  2.0|2024-03-10T13:30:...|        Japan|
|          JP|Unknown|            厚木市中町１－８－１１|35.443333, 139.36...|      NO2|japan-soramame|  ppm|0.006|2024-03-10T13:30:...|        Japan|
|          JP|Unknown|            取手市大字寺田５１３９|35.908333, 140.05...|      NOX|japan-soramame|  ppm|0.002|2024-03-10T13:30:...|        Japan|
|          JP|Unknown|            取手市大字寺田５１３９|35.908333, 140.05...|       NO|japan-soramame|  ppm|  0.0|2024-03-10T13:30:...|        Japan|
+------------+-------+----------------------------------+--------------------+---------+--------------+-----+-----+--------------------+-------------+
only showing top 10 rows

24/03/31 21:56:42 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [ ]:
# Loading data to GCP Data-Lake

In [25]:
df.to_parquet("/Users/jakemaund/Desktop/final_project/data/cleaned_data.parquet")

# Changing to a parquet, as that is readable file format for GCP

In [27]:
!gsutil cp /Users/jakemaund/Desktop/final_project/data/cleaned_data.parquet gs://jm-data-lake

# Uploading file to GCP Bucket. From here we will import into a Biqquery warehouse, it is easier to do this within GCP, rather via jupyter.

Copying file:///Users/jakemaund/Desktop/final_project/data/cleaned_data.parquet [Content-Type=application/octet-stream]...
- [1 files][  1.3 MiB/  1.3 MiB]
Operation completed over 1 objects/1.3 MiB.